<footer id="footer">
	<div id="social">
		<p class="small">© Copyright <%= new Date().getFullYear() %>
			<a href="/"> <%= config.author %> </a>/
			<a href="https://hexo.io"> Hexo </a>/
			<a href="https://github.com/caisiduo/hexo-theme-lightime"> Lightime</a>
		</p>
	</div>
</footer>
<script src="//cdnjs.loli.net/ajax/libs/instantclick/3.0.1/instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init('mousedown');</script>