<li>
    <aside class="dates"><%= item.date.format(config.date_format) %></aside>
    <a href="<%- config.root %><%- item.path %>"><%= item.title || '(' + __('no_title') + ')'  %></a>
    <h2></h2>
</li>