.archive .post-link,.ct-list a
  color #8a8a8a

.ct-list
  padding 10px 0
  span
    font-style normal
    margin-left 5px
  a
    margin-right 10px
    font 400 14px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif

.archive .post-link:hover,.ct-list a:hover
  color #5694f1
  transition .3s ease-out

#tag
  h3
    &:before
      content '#'

#tagcloud
  a
    &:before
      content '#'

h2
  &.month
    width 100%
    font 700 13px/1 "Helvetica Neue",helvetica,Arial,sans-serif
    text-transform uppercase
    margin-top 40px
    margin-bottom 10px
    padding-bottom 10px
    border-bottom 1px solid #eee

h1
  &.archive
    margin-bottom 0

.archive
  margin 0 0 50px 0
  font-size 16px
  .post-time
    display inline-block
    width 60px
    margin 0
    color #8a8a8a
  .post-item
    padding 10px 0
    overflow-x hidden
    white-space nowrap

.archive-title
  margin 0
  color color-font