h2
  &.footline
    font italic 400 13px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif
    display inline-block
    font-size 13px
    margin 40px 0 -5px 0
    a
      &:before
        content "#"

.home
  h2
    font italic 19px/1.3em Georgia,serif
    color #bbb
  h1
    font-size 30px
    letter-spacing -1px
    color #222
    font-weight 700

#post-body,p
  line-height 1.7

.post
  h2
    margin-bottom 40px
    font 300 24px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif
    color #111
    &.headline
      font 400 13px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif
      margin -5px 0 40px 0
      color #b2b9be
      font-size 13px
      text-transform uppercase
      letter-spacing 2px
      display inline-block
    &.subtitle
      font italic 19px/1.3em Georgia,serif
      color #bbb
  header
    text-align center
  h1
    margin-bottom 0
    color #222
    font 300 32px/1.4em "Helvetica Neue",Helvetica,Arial,sans-serif

#footer
  padding 40px 0 0 0

.post
  margin 80px 0 0 0

#badge
  position absolute
  bottom 8px
  right 8px
  height 48px
  width 48px
  
#sharing
  float right
  margin -2px
  a
    font-size 13px
    font-weight 700
    margin-top 4px
    color #fff
    display inline-block
    vertical-align middle
    padding 6px 10px
    border-radius 4px
    margin-left 2px
    &.twitter
      background #4fafed
    &:hover
      opacity .8
    &.facebook
      background #4361b3

#post-meta
  font-size 13px
  font-weight 700
  line-height 1.4
  border-top 1px solid #eee
  padding-top 40px
  margin-bottom 40px
  padding-bottom 40px
  margin-top 40px
  color #444
  border-bottom 1px solid #eee
  img
    &.avatar
      height 36px
      width 36px
      float left
      border-radius 50%
      margin-top 3px
      margin-right 20px
      box-shadow 0 0 0 3px #fff,0 0 0 4px #eee
  div
    margin 0 25px 0 0
    float left
    span
      color #aaa
      font-weight 500
      display block
      &.dark
        color #1e2025

#post-list
  &.archive
    &.readmore
      a
        font 400 16px/1.6 "Helvetica Neue",helvetica,Arial,sans-serif
        color color-dark
        &:hover
          opacity .8
      h3
        font 400 20px "Helvetica Neue",Helvetica,Arial,sans-serif
        margin-bottom 30px
      .dates
        font 300 16px/1.6 "Helvetica Neue",helvetica,Arial,sans-serif