.code
	pre
		overflow-x auto
		color grey
		-webkit-text-size-adjust none

.strong
	font-weight 700

.deletion,.name,.regexp,.selector-class,.selector-id,.tag,.template-variable,.variable
	color #c82829

#post-body .gist .gist-file .gist-data .line-numbers,#post-body .highlight .gutter pre
	color color-font

.addition,.bullet,.string,.symbol
	color #718c00

.keyword,.selector-tag
	color #8959a8

.attribute
	color #eab700

.section,.title
	color #4271ae

#post-body
	pre
		font-size .85em
		code
			background 0 0
			text-shadow none
			padding 0
	.highlight
		margin 0
		padding 16px
		border-style solid
		border-color #E4EBF2
		overflow auto
		color #ccc
		border-radius 3px
		border-width 1px
		margin-bottom 20px
		pre
			border none
			margin 0
			padding 0
			white-space pre
			font-family Menlo,Monaco,C
			font-family Menlo,Monaco,Courier,monospace
			font-size 11px
			padding 4px
			border-radius 0
		table
			margin 0
			width auto
			border 0 none
		code
			background #eee
			text-shadow 0 1px #fff
			padding 0 .3em
		tr
			border 0 none
		figcaption
			font-size .75em
			color #999
			line-height 1em
			margin-bottom 1em
			a
				float right
		td
			border 0 none
			padding 0
			&.gutter
				padding 0
	.gist
		margin 0 -20px
		border-style solid
		border-color #dedede
		border-width 1px 0
		background #2d2d2d
		padding 15px 20px 15px 0
		.gist-file
			border none
			margin 0
			.gist-meta
				background #2d2d2d
				color #999
				text-shadow 0 0
				padding 0
				margin-top 1em
				margin-left 20px
				a
					color #7cc576
					font-weight 400
					&:hover
						text-decoration underline
			.highlight
				margin 0
				padding 0
				border none
			.gist-data
				background 0 0
				border none
				.line-data
					padding 0!important
				.line-numbers
					background 0 0
					border none
					padding 0 20px 0 0

.built_in,.builtin-name,.link,.literal,.meta,.number,.params,.type
	color #f5871f

.comment,.quote
	color #8e908c

.emphasis
	font-style italic

.hljs
	display block
	overflow-x auto
	background #fff
	color #4d4d4c
	padding .5em

