#post-list a:hover,#post-list li:hover .dates,#title,#title:hover,a
  text-decoration none
  color #5badf0
  color color-dark

#archive-list li,#post-list li
  border-top 1px solid #eee
  padding-top 20px
  padding-bottom 20px
  list-style-type none
  margin-bottom 0

#archive-list
  margin-top 100px
  li
    &:last-child
      margin-bottom 0
  a
    display block
    font 700 17px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif
    color #333
  .dates
    float right
    position relative
    top 1px
    font 300 17px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif
    color #bbb

#title
  display inline-block
  line-height 100%
  font-weight 500
  font-size 19px
  margin 0
  padding-bottom 20px

#post-list a,#post-nav a,a
  -webkit-transition all .15s ease
  -moz-transition all .15s ease
  -ms-transition all .15s ease
  -o-transition all .15s ease
  transition all .15s ease

#archive-list li a:hover,#archive-list li:hover .dates
  color color-dark

#post-list
  margin-bottom 0
  a
    color #333
    display block
    font 700 19px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif
  li
    &:last-child
      border-bottom 1px solid #eee
  h2
    font 400 17px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif
    color #aaa
    max-width 400px
    margin-top 2px
  .dates
    float right
    position relative
    top 1px
    font 300 17px/1.8 "Helvetica Neue",helvetica,Arial,sans-serif
    color #bbb

#archive-link
  display inline-block
  font-size 13px
  font-weight 700
  border-radius 4px
  padding 3px 10px 6px
  box-shadow 0 0 0 1px hsla(207,83%,80%,1)
  span
    position relative
    top 0
    font-size 17px
  &:hover
    background color-dark
    color #fff
    box-shadow 0 0 0 1px color-dark

#post-list-footer
  border-top 1px solid #eee
  margin-top 20px
  padding-top 100px

